<div class="gallery-container">
  <div class="gallery">
    @for (house of houses; track trackHouse($index, house)) {
      <div class="house-card">
        <!-- Main Image -->
        <img [ngSrc]="house.images[0]" alt="" width="250" height="210">
        <h3>{{ house.title }}</h3>
        <p>{{ house.price }}</p>
        <p>{{ house.details }}</p>
        <p>{{ house.address }}</p>
        <p>{{ house.location }}</p>
        <p>{{ house.landMass }}</p>

        <!-- View More Button (always visible) -->
        <div class="view-more-button">
          <button (click)="toggleImages(house)">
            {{ house.showAllimages ? 'View Less' : 'View More' }}
          </button>
        </div>

        <!-- Additional Images Section (conditionally visible) -->
        @if (house.showAllimages) {
          <div class="image-gallery-container">
            <button class="scroll-btn left" (click)="scrollLeft($event)">&#10094;</button>

            <div class="additional-images" #scrollContainer>
              @for (img of house.images.slice(1); track img) {
                <img [ngSrc]="img" alt="house" width="200" height="150">
              }
            </div>

            <button class="scroll-btn right" (click)="scrollRight($event)">
              &#10095;
            </button>
          </div>
        }
      </div>
    }
  </div>
</div>
