<div class="gallery-container">
  <!--  page 1-->
  <div class="gallery">
    @for (house of austinA; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinA; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">
        {{ house.showAllimages ? 'view less': 'view more'}} 
      </button>
    </div> -->
    }
  </div>

  <!--  page 2-->
  <div class="gallery">
    @for (house of austinB; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinB; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 3-->
  <div class="gallery">
    @for (house of austinC; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinC; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 4-->
  <div class="gallery">
    @for (house of austinD; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinD; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 5-->
  <div class="gallery">
    @for (house of austinE; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinE; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 6-->
  <div class="gallery">
    @for (house of austinF; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinF; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 7-->
  <div class="gallery">
    @for (house of austinG; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinG; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 8-->
  <div class="gallery">
    @for (house of austinH; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinH; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 9-->
  <div class="gallery">
    @for (house of austinI; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinI; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 10-->
  <div class="gallery">
    @for (house of austinJ; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinJ; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 11-->
  <div class="gallery">
    @for (house of austinK; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinK; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 12-->
  <div class="gallery">
    @for (house of austinL; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinL; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 13-->
  <div class="gallery">
    @for (house of austinM; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinM; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 14-->
  <div class="gallery">
    @for (house of austinN; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinN; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 15-->
  <div class="gallery">
    @for (house of austinO; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinO; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 16-->
  <div class="gallery">
    @for (house of austinP; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinP; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 17-->
  <div class="gallery">
    @for (house of austinQ; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinQ; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 17-->
  <div class="gallery">
    @for (house of austinR; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinR; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 17-->
  <div class="gallery">
    @for (house of austinS; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinS; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 17-->
  <div class="gallery">
    @for (house of austinT; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinT; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 18-->
  <div class="gallery">
    @for (house of austinU; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinU; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 19-->
  <div class="gallery">
    @for (house of austinV; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinV; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 20-->
  <div class="gallery">
    @for (house of austinW; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinW; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 21-->
  <div class="gallery">
    @for (house of austinX; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinX; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 22-->
  <div class="gallery">
    @for (house of austinY; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinY; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>

  <!--  page 23-->
  <div class="gallery">
    @for (house of austinZ; track $index) {
    <div class="house-card">
      <!--      main image-->
      <img [ngSrc]="house.images.imageA" alt="" width="250" height="210">
      <h3>{{ house.title }}</h3>
      <p> <strong>Owner:</strong>{{house.owner}}</p>
      <p>{{ house.price }}</p>
      <p>{{ house.details }}</p>
      <p>{{house.address}}</p>
      <p>{{house.location}}</p>
      <p>{{house.landMass}}</p>
    </div>
    }

    @for (house of austinZ; track $index) {
    <!--    additional images hidden by default-->
    <div class="additional-images" [class.show]="house.showAllimages">
      <img [ngSrc]="house.images.imageB" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageC" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageD" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageE" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageF" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageG" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageH" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageI" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageJ" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageK" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageL" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageM" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageN" alt="house" width="250" height="210">
      <img [ngSrc]="house.images.imageO" alt="house" width="250" height="210">
    </div>

    <!--    view more/less button-->
    <!-- <div class="view-more-button">
      <button (click)="toggleImages(house)">{{ house.showAllimages ? 'view less': 'view more'}}</button>
    </div> -->
    }
  </div>
</div>