* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active {
    font-weight: bold;
    border-bottom: 2px solid;
    color: rebeccapurple;
}

.parent-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    width: 70px;
    height: 75px;
}

.logo {
    img {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
    }
}

.navigation {
    ul {
        display: flex;
        gap: 10px;
        margin: 5px;
        font-size: 18px;
        align-content: center;
        justify-content: center;
        transition: all 0.5s ease;
    }

    ul li:hover {
        color: #007bff;
        text-shadow: 0 0 10px rgba(0, 123, 255, 0.6);
        box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);
    }

    ul li {
        list-style: none;
    }

    ul a {
        text-decoration: none;
        color: #000;
    }
}

.navigation-links {
    ul {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin: 5px;
        font-size: 18px;
        align-content: center;
        justify-content: center;
        transition: all 0.5s ease;
    }

    ul li:hover {
        color: #007bff;
        text-shadow: 0 0 10px rgba(0, 123, 255, 0.6);
        box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);
    }

    ul li {
        list-style: none;
    }

    ul a {
        text-decoration: none;
        color: #000;
    }
}

.search-items {
    display: flex;
    margin: 5px;
    align-items: center;
    align-content: center;
    justify-content: center;

    input {
        padding: 2px;
        border-radius: 8px;
        border-collapse: collapse;
        width: 250px;
        height: 35px;
        text-align: center;
        border: 2px solid rebeccapurple;
    }

    button {
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 18px;
        background-color: rebeccapurple;
    }
}

.line {
    border: solid 3px rebeccapurple;
    width: 100%;
}

.hero-section {
    background-image: url('https://res.cloudinary.com/zone0/image/upload/hero-otc_dstalz.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    margin-top: -10px;
    border-right: solid 5px rebeccapurple;
    border-left: solid 5px rebeccapurple;
}

.company-name {
    margin: 10px;

    h3 {
        font-size: 35px;
        color: #ffffff;
    }

    h2 {
        width: 35vw;
        font-size: 40px;
        color: #ffffff;
    }

    span {
        color: #ffffff;
        text-transform: uppercase;
    }
}

.social-links ul {
    gap: 20px;
    display: flex;
    margin: 10px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.social-links li {
    list-style: none;

    a {
        color: #000;
        font-size: 18px;
        text-decoration: none;
    }

    img {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
    }
}